<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
         <h5 class="my-0 mr-md-auto font-weight-normal">Проект на Flask</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/">Главная</a>
                <a class="p-2 text-dark" href="/about">О нас</a>
                <a class="p-2 text-dark" href="/posts">Статьи</a>
            </nav>
              <a class="btn btn-warning" href="/create-article">Создать</a>
    </div>

   {% block body %}{% endblock %}

    <footer class=" container pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© 2017-2020</font></font></small>
      </div>
      <div class="col-6 col-md">
        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Характеристики</font></font></h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Крутая вещь</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Случайная функция</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Особенность команды</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вещи для разработчиков</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Другой</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Последний раз</font></font></a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ресурсы</font></font></h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ресурс</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Название ресурса</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Еще один ресурс</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Конечный ресурс</font></font></a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Около</font></font></h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">команда</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Места</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Конфиденциальность</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">условия</font></font></a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
